In [17]:
class Employee():
    pass

In [19]:
emp1 = Employee()  # object or instance of a class

In [21]:
emp2 = Employee()

In [23]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x00000163DFF9B050>
<__main__.Employee object at 0x00000163DFF9B5C0>

In [25]:
emp1.first = "Rishi"    # instance variables
emp1.last = "Varma"
emp1.salary = 50500

In [27]:
emp2.first = "Riya"
emp2.last = "Varma"
emp2.salary = 53500

In [29]:
# init method / constructor

In [49]:
class Employee():

        def __init__(self, first, last, salary):
            self.first = first
            self.last = last
            self.salary = salary

        def show(self):
            return self.first + " ok"

In [51]:
emp1 = Employee("Rishi", "Varma", 50500)

In [53]:
emp2 = Employee("Riya", "Varma", 53500)

In [55]:
emp1.first

'Rishi'

In [57]:
emp1.show()

'Rishi ok'

In [59]:
emp2.show()

'Riya ok'

In [61]:
emp2.salary

53500

In [67]:
# encapsulation
# making a instance varibale public to private

In [95]:
class Employee1():

    company = "ClosedAI"   # class variable
    
    def __init__(self, first, last, salary):
        self.first = first    # instance variable
        self.last = last
        self.__salary = salary

    def show(self):
        return self.first + " ok"

    def show_salary(self):
        return self.__salary

In [97]:
emp1 = Employee1("Rishi", "Varma", 50500)

In [99]:
emp1.salary

AttributeError: 'Employee1' object has no attribute 'salary'

In [101]:
emp1.show_salary()

50500

In [103]:
emp1.company

'ClosedAI'

In [107]:
emp2 = Employee1("Riya", "Varma", 53500)

In [109]:
emp2.company

'ClosedAI'

In [111]:
# Inheritance

In [113]:
class Employee2(Employee1):
    # Employee1 -> Parent class,   Employee2 -> child class/ sub class
    pass

In [115]:
emp3 = Employee2("Kartik", "Patil", 45000)

In [117]:
emp3.show_salary()

45000

In [119]:
"""
create a class called Person
objects having attributes name, age, city, hobby  (create 3 objects)
create a method which will show all the info upon calling

""";

In [134]:
class Person():

    def __init__(self, name, age, city, hobby):
        self.name = name
        self.age = age
        self.city = city
        self.hobby = hobby

    def info(self):
        return f"name: {self.name}, age: {self.age}, city: {self.city}, hobby:{self.hobby}"

In [136]:
p1 = Person("Ankit", 23, "Pune", "Cricket")
p2 = Person("Ananya", 24, "Nashik", "Reading")
p3 = Person("Natasha", 23, "Pune", "Judo")

In [138]:
p2.info()

'name: Ananya, age: 24, city: Nashik, hobby:Reading'

In [140]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'city',
 'hobby',
 'info',
 'name']

In [142]:
print(p2)

<__main__.Person object at 0x00000163DFB6D070>

In [144]:
class Person():

    def __init__(self, name, age, city, hobby):
        self.name = name
        self.age = age
        self.city = city
        self.hobby = hobby

    def __str__(self):
        return f"name: {self.name}, age: {self.age}, city: {self.city}, hobby:{self.hobby}"

In [146]:
p1 = Person("Ankit", 23, "Pune", "Cricket")
p2 = Person("Ananya", 24, "Nashik", "Reading")
p3 = Person("Natasha", 23, "Pune", "Judo")

In [148]:
print(p2)

name: Ananya, age: 24, city: Nashik, hobby:Reading

In [152]:
"""
create a class called Student
create 2-3 objects having attributes name, age

create a method which will add a skill (eg.. python, AI/ML) to the student
where u can view the info of it later (i.e -> skills of a student)

""";

In [166]:
# wrong way
class Student:

    skills = []    # will remain same for all the objects
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def add_skill(self, skill):
        self.skills.append(skill)

In [156]:
s1 = Student("Ajinky", 22)
s2 = Student("Riya", 23)

In [158]:
s1.add_skill("python")

In [160]:
s2.add_skill("java")

In [162]:
s1.skills

['python', 'java']

In [164]:
s2.skills

['python', 'java']

In [168]:
# correct way
class Student:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.skills = []    # will create an empty list for every object

    def add_skill(self, skill):
        self.skills.append(skill)

In [170]:
s1 = Student("Ajinky", 22)
s2 = Student("Riya", 23)

In [172]:
s1.skills

[]

In [174]:
s2.skills

[]

In [176]:
s1.add_skill("python")
s2.add_skill("java")

In [178]:
s1.skills

['python']

In [180]:
s2.skills

['java']

In [182]:
s1.add_skill("ML")

In [184]:
s1.skills

['python', 'ML']

#### Polymorphism

In [191]:
# base class

class Animal():
    def speak(self):
        return "sound of an animal"

In [193]:
# derived class 1
class Dog(Animal):
    def speak(self):
        return "woof woof!!!"

# derived class 2
class Cat(Animal):
    def speak(self):
        return "meow"

In [195]:
dog1 = Dog()
cat1 = Cat()

In [197]:
dog1.speak()

'woof woof!!!'

In [199]:
cat1.speak()

'meow'

In [201]:
# simple menu driven

In [250]:
class Menuapp():

    def __init__(self):
        self.itemlist = []

    def show_menu(self):
        print("----Menu----\n1.Add Items\n2.view items\n3.exit")

    def add_item(self):
        item = input("put the item name: ")
        self.itemlist.append(item)

    def view_items(self):
        print(self.itemlist)

    def run(self):
        while True:
            self.show_menu()
    
            ch = int(input("Enter the choice"))
    
            if ch == 1:
                self.add_item()
            elif ch == 2:
                self.view_items()
            elif ch == 3:
                break
            else:
                return "Invalid Choice!!!"

In [252]:
app1 = Menuapp()

In [254]:
app1.run()

----Menu----
1.Add Items
2.view items
3.exit

Enter the choice 1
put the item name:  grocery

----Menu----
1.Add Items
2.view items
3.exit

Enter the choice 3